@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200;300;400;500;600;700&family=Teko:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Assistant', san-serif;
}

body {
  background-color: rgb(39, 39, 39);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  overflow-x: hidden;
}

body,
html {
  height: 100%;
  margin: 0;
  margin-top: 6vh;
  font: 400 15px/1.8;
  font-family: 'Assistant', san-serif;
  color: #777;
}


header {
  position: absolute;
  width: 100%;
  background-color: #222;
  min-height: 10vh;
  top: 0;
  overflow-x: hidden;
  overflow-y: hidden;
  display: flex;
  z-index: 10vh;
}

header a {
  color: #fff;
  text-decoration: none;
}

header a:hover {
  transition: all .3s ease-out;
}

nav {
  top: 0;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-around;

}

nav img {
  top: 0;
  left: 0;
  height: 110px;
  width: 120px;
}

.logo {
  font-weight: bolder;
  color: #fff;
  margin-left: 0%;
  font-size: 30px;
  text-transform: uppercase;
  letter-spacing: 4px;
}

.posicao_head {
  display: flex;
  justify-content: space-between;
  max-height: 7vh;
}

.posicao_head a {
  margin: 1%;
  cursor: pointer;
}


.btn {
  left: 0;
  border-radius: 5%;
  font-weight: bold;
  font-size: 14px;
  width: 120px;
  height: 50px;
  margin: 1%;
  background-color: transparent;
  border: 2px solid #fff;
  color: #fff;
  cursor: pointer;
}


.btn a {
  text-decoration: none;
  color: #fff;
}

.btn:hover {
  color: #111;
  background-color: rgb(190, 190, 190);
  border-color: #fff;
  transition: all .3s ease-out;
}

.conteudo img {
  width: 100%;

}



.btn {
  left: 0;
  border-radius: 5%;
  font-weight: bold;
  font-size: 14px;
  width: 120px;
  height: 50px;
  margin: 1%;
  background-color: transparent;
  border: 2px solid #fff;
  color: #fff;

}


.btn a {
  text-decoration: none;
  color: #fff;
}

.btn:hover {
  color: #111;
  background-color: rgb(190, 190, 190);
  border-color: #fff;
  transition: all .3s ease-out;
}

.bg_img_makoto_shinkai_inicio {
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg_img_makoto_shinkai_carreira {
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 800vh;
}

.bg_img_makoto_shinkai_inicio {
  background-image: url("../../img/makoto-shinkai_1.jpg");
  min-height: 100%;
  margin-top: 1vh;
}

.bg_img_makoto_shinkai_carreira {
  background-image: url("../../img/makoto-shinkai_2.jpg");
  height: 800vh;
}

.caption {
  position: absolute;
  left: 0;
  top: 45%;
  width: 100%;
  text-align: center;
  color: #000;
  bottom: 0;
}

.caption span.border {
  background-color: #111;
  color: #fff;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 10px;
}

.text_home {
  position: relative;
  color: #fff;
  font-size: 25px;
  background-color: #111;
  text-align: center;
  padding: 50px 80px;
  text-align: justify center;
  text-transform: uppercase;
  letter-spacing: 10px;
}

.text_home_filme {
  position: relative;
  color: #fff;
  font-size: 25px;
  background-color: #111;
  text-align: center;
  padding: 50px 80px;
  text-align: justify center;
  text-transform: uppercase;
  letter-spacing: 10px;
  margin-top: -199%;
}


.caption_2 {
  position: absolute;
  left: 0;
  top: 20%;
  width: 100%;
  text-align: center;
  color: #000;
}

.caption_2 span.border_2 {
  background-color: #fff;
  color: #111;
  text-transform: uppercase;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 10px;
  font-weight: bold;
}

.caption_carreira {
  position: absolute;
  margin: auto;
  left: 50%;
  transform: translateX(-50%);
  top: 5%;
  width: 90%;
  text-align: center;
  color: #000;
}

.caption_carreira span.border_text p {
  background-color: #fff;
  color: #111;
  padding: 18px;
  width: 64%;
  margin: auto;
  font-size: 25px;
  letter-spacing: 5px;
  margin-top: -12%;
}

.caption_carreira span.border_text p a {
  text-decoration: underline;
  color: #111;
}

.caption_filme {
  position: absolute;
  margin: auto;
  left: 50%;
  transform: translateX(-50%);
  top: 5%;
  width: 90%;
  text-align: center;
  color: #000;
}

.caption_filme span.border_text p {
  background-color: #fff;
  color: #111;
  padding: 18px;
  width: 64%;
  margin: auto;
  font-size: 25px;
  letter-spacing: 5px;
  margin-top: -10%;
}

.caption_filme span.border_text p a {
  text-decoration: underline;
  color: #111;
}

.primeiro_filme {
  width: 80%;
  height: 60%;
  border: 2px dashed #333;
}

.samuraix {
  width: 300px;
  height: 500px;
  border: 2px dashed #333;
  margin: 3%;
}

video {
  object-fit: contain;
  max-width: 854px;
  max-height: 480px;
}

.footer {
  color: #fff;
  background-color: #111;
  height: 9vh;
  width: 100vw;
  display: flex;
  margin: auto;
  text-transform: none;
}

.card {
  text-transform: none;
  width: auto;
  margin: auto;
  text-align: center;
}